# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[package]
name = "datafusion-functions"
description = "Function packages for the DataFusion query engine"
keywords = ["datafusion", "logical", "plan", "expressions"]
readme = "README.md"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
rust-version = { workspace = true }

[package.metadata.docs.rs]
all-features = true

# Note: add additional linter rules in lib.rs.
# Rust does not support workspace + new linter rules in subcrates yet
# https://github.com/rust-lang/cargo/issues/13157
[lints]
workspace = true

[features]
crypto_expressions = ["md-5", "sha2", "blake2", "blake3"]
# enable datetime functions
datetime_expressions = ["chrono-tz"]
# Enable encoding by default so the doctests work. In general don't automatically enable all packages.
default = [
    "datetime_expressions",
    "encoding_expressions",
    "math_expressions",
    "regex_expressions",
    "string_expressions",
    "unicode_expressions",
]
# enable encode/decode functions
encoding_expressions = ["base64", "hex"]
# enable math functions
math_expressions = []
# enable regular expressions
regex_expressions = ["regex"]
# enable string functions
string_expressions = ["uuid"]
# enable unicode functions
unicode_expressions = ["unicode-segmentation"]

[lib]
name = "datafusion_functions"

[dependencies]
arrow = { workspace = true }
arrow-buffer = { workspace = true }
base64 = { version = "0.22", optional = true }
blake2 = { version = "^0.10.2", optional = true }
blake3 = { version = "1.8", optional = true }
chrono = { workspace = true }
chrono-tz = { version = "0.10.4", optional = true }
datafusion-common = { workspace = true }
datafusion-doc = { workspace = true }
datafusion-execution = { workspace = true }
datafusion-expr = { workspace = true }
datafusion-expr-common = { workspace = true }
datafusion-macros = { workspace = true }
hex = { workspace = true, optional = true }
itertools = { workspace = true }
log = { workspace = true }
md-5 = { version = "^0.10.0", optional = true }
num-traits = { workspace = true }
rand = { workspace = true }
regex = { workspace = true, optional = true }
sha2 = { version = "^0.10.9", optional = true }
unicode-segmentation = { version = "^1.7.1", optional = true }
uuid = { version = "1.20", features = ["v4"], optional = true }

[dev-dependencies]
arrow = { workspace = true, features = ["test_utils"] }
criterion = { workspace = true }
ctor = { workspace = true }
env_logger = { workspace = true }
rand = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt", "sync"] }

[[bench]]
harness = false
name = "ascii"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "concat"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "concat_ws"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "to_timestamp"
required-features = ["datetime_expressions"]

[[bench]]
harness = false
name = "encoding"
required-features = ["encoding_expressions"]

[[bench]]
harness = false
name = "chr"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "gcd"
required-features = ["math_expressions"]

[[bench]]
harness = false
name = "uuid"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "to_hex"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "regx"
required-features = ["regex_expressions"]

[[bench]]
harness = false
name = "make_date"
required-features = ["datetime_expressions"]

[[bench]]
harness = false
name = "iszero"
required-features = ["math_expressions"]

[[bench]]
harness = false
name = "nullif"

[[bench]]
harness = false
name = "date_bin"
required-features = ["datetime_expressions"]

[[bench]]
harness = false
name = "date_trunc"
required-features = ["datetime_expressions"]

[[bench]]
harness = false
name = "to_char"
required-features = ["datetime_expressions"]

[[bench]]
harness = false
name = "isnan"
required-features = ["math_expressions"]

[[bench]]
harness = false
name = "signum"
required-features = ["math_expressions"]

[[bench]]
harness = false
name = "substr_index"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "trim"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "lower"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "upper"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "pad"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "repeat"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "replace"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "random"
required-features = ["math_expressions"]

[[bench]]
harness = false
name = "substr"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "character_length"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "cot"
required-features = ["math_expressions"]

[[bench]]
harness = false
name = "strpos"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "reverse"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "trunc"
required-features = ["math_expressions"]

[[bench]]
harness = false
name = "initcap"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "find_in_set"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "contains"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "starts_with"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "ends_with"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "regexp_count"
required-features = ["regex_expressions"]

[[bench]]
harness = false
name = "crypto"
required-features = ["crypto_expressions"]

[[bench]]
harness = false
name = "translate"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "levenshtein"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "split_part"
required-features = ["string_expressions"]

[[bench]]
harness = false
name = "left"
required-features = ["unicode_expressions"]

[[bench]]
harness = false
name = "factorial"
required-features = ["math_expressions"]

[[bench]]
harness = false
name = "floor_ceil"
required-features = ["math_expressions"]

[[bench]]
harness = false
name = "round"
required-features = ["math_expressions"]
