# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[workspace]
members = [
    "datafusion",
    "datafusion-cli",
    "datafusion-examples",
    "benchmarks",
    "ballista/rust/client",
    "ballista/rust/core",
    "ballista/rust/executor",
    "ballista/rust/scheduler",
    "ballista-examples",
]

exclude = ["python"]

[profile.release]
lto = true
codegen-units = 1


# experimentally try arrow 6.x with upgraded prost/tonic
# from https://github.com/apache/arrow-rs/pull/945
[patch.crates-io]
arrow = { git = "https://github.com/alamb/arrow-rs.git", branch = "alamb/try_backporting_deps" }
arrow-flight = { git = "https://github.com/alamb/arrow-rs.git", branch = "alamb/try_backporting_deps" }
parquet = { git = "https://github.com/alamb/arrow-rs.git", branch = "alamb/try_backporting_deps" }
