disallowed-methods = [
    { path = "tokio::task::spawn", reason = "To provide cancel-safety, use `SpawnedTask::spawn` instead (https://github.com/apache/datafusion/issues/6513)" },
    { path = "tokio::task::spawn_blocking", reason = "To provide cancel-safety, use `SpawnedTask::spawn_blocking` instead (https://github.com/apache/datafusion/issues/6513)" },
]

disallowed-types = [
    { path = "std::time::Instant", reason = "Use `datafusion_common::instant::Instant` instead for WASM compatibility" },
]

ignore-interior-mutability = [
    # arrow_buffer::Bytes contains Mutex<MemoryReservation> for memory pool tracking,
    # but this doesn't affect Hash/Eq implementations (those only depend on data content).
    "arrow_buffer::bytes::Bytes",
]

# Lowering the threshold to help prevent stack overflows (default is 16384)
# See: https://rust-lang.github.io/rust-clippy/master/index.html#/large_futures
future-size-threshold = 10000

# Be more aware of large error variants which can impact the "happy path" due
# to large stack footprint when considering async state machines (default is 128).
#
# Value of 70 picked arbitrarily as something less than 100.
#
# See:
# - https://github.com/apache/datafusion/issues/16652
# - https://rust-lang.github.io/rust-clippy/master/index.html#result_large_err
large-error-threshold = 70
