# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[package]
authors = { workspace = true }
description = "DataFusion sqllogictest driver"
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
name = "datafusion-sqllogictest"
readme = "README.md"
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true

# Note: add additional linter rules in lib.rs.
# Rust does not support workspace + new linter rules in subcrates yet
# https://github.com/rust-lang/cargo/issues/13157
[lints]
workspace = true

[lib]
name = "datafusion_sqllogictest"

[dependencies]
arrow = { workspace = true }
async-trait = { workspace = true }
bigdecimal = { workspace = true }
bytes = { workspace = true, optional = true }
chrono = { workspace = true, optional = true }
clap = { version = "4.5.60", features = ["derive", "env"] }
datafusion = { workspace = true, default-features = true, features = ["avro"] }
datafusion-spark = { workspace = true, features = ["core"] }
datafusion-substrait = { workspace = true, default-features = true }
futures = { workspace = true }
half = { workspace = true, default-features = true }
indicatif = "0.18"
itertools = { workspace = true }
log = { workspace = true }
object_store = { workspace = true }
postgres-types = { version = "0.2.12", features = ["derive", "with-chrono-0_4"], optional = true }
# When updating the following dependency verify that sqlite test file regeneration works correctly
# by running the regenerate_sqlite_files.sh script.
sqllogictest = "0.29.1"
sqlparser = { workspace = true }
tempfile = { workspace = true }
testcontainers-modules = { workspace = true, features = ["postgres"], optional = true }
thiserror = "2.0.18"
tokio = { workspace = true }
tokio-postgres = { version = "0.7.16", optional = true }

[features]
avro = ["datafusion/avro"]
backtrace = ["datafusion/backtrace"]
postgres = [
    "bytes",
    "chrono",
    "postgres-types",
    "testcontainers-modules",
    "tokio-postgres",
]
parquet_encryption = [
    "datafusion/parquet_encryption",
]

[dev-dependencies]
env_logger = { workspace = true }
regex = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread"] }

[[test]]
harness = false
name = "sqllogictests"
path = "bin/sqllogictests.rs"
